@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-font: 'Poppins', sans-serif;
    --head-font: 'Poppins', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: rgb(234, 234, 234);
    --pale-blue: hsl(207, 100%, 98%);
    --white: #FFFFFF;
}
body {
    font-family: var(--main-font);
    background-color: var(--pale-blue);
}
h1, h2 {
    font-family: var(--head-font);
}
p {
font-size: 0.75rem;
}
.pics {
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: auto;
    gap: 5rem;
} 
    /* Header */
    header {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
    }
    header img {
        width: 9rem;
        height: 2rem;
    }
    header a {
        text-decoration: none;
        border: 0.125rem solid var(--pink);
        padding: 0.25rem 1.5rem;
        border-radius: 2rem;
        color: var(--pink);
        box-shadow: 0 0 6.5rem gray;
    }
    header a:hover {
        cursor: pointer;
        color: var(--light-pink);
        border: 0.125rem solid var(--light-pink);
    }
    
    /* Main */
    .cards {
        display: grid;
        gap: 3rem;
    }
    .card-one {
        text-align: center;
        margin: 0 4rem;
    }
    .card-one h1 {
        font-size: 1.75rem;
    }
    .card-one p {
        font-size: 0.85rem;
        width: 70%;
        margin: 1rem auto 2rem auto;
    }
    .card-one a {
        color: var(--white);
        padding: 1rem 3rem;
        background-color: var(--pink);
        border-radius: 2rem;
        text-decoration: none;
    }
    .card-one a:hover {
        cursor: pointer;
        background-color: var(--light-pink);
    }
    .card-one img {
        margin-top: 2rem;
    }
    .card-two {
        display: flex;
        justify-content: space-evenly;
        margin: 4rem 2rem 4rem 2rem;
    }
    .details-no {
        font-size: 3.75rem;
    }
    .bg-dt-1,
    .bg-dt-2,
    .bg-dt-fr {
        width: 100%;
        display: block;
    }

    .card-there, .card-five {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 4rem;
        padding: 5rem 4rem;
        background-color: #F4F6F6;
    }
    .card-there img,
    .card-four img,
    .card-five img {
        width: 50%;
    }
    h2 {
        margin-bottom: 1.25rem;
    }
    .card-four {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding: 5rem 4rem;
    }
    .card-sex {
        text-align: center;
    }
    .card-sex a {
        text-decoration: none;
        color: var(--white);
        background-color: var(--pink);
        padding: 0.75rem 3rem;
        border-radius: 2rem;
        box-shadow: 0.1rem 0 6.5rem gray;
    }
    .card-sex a:hover {
        cursor: pointer;
        background-color: var(--light-pink);
    }
    .footer {
        background-color: #00252E;
        padding: 4rem 3rem;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20%;
        color: var(--white);

    }
    .footer-logo {
        width: 14rem;
        margin-bottom: 1rem;
        color: #FFFFFF;
    }
    .footer-sec-one p,
    .footer-sec-two p {
        width: 75%;
    }
    .contact-card {
        display: flex;
        gap: 1.1rem;
        margin-top: 1rem;
    }
    .phone-logo, .email-logo {
        width: 1rem;
    }
    .sub-card {
        margin-top: 1rem;
    }
    #email {
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        padding: 0.5rem;
    }
    #submit {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: var(--pink);
        color: var(--white);
    }


 /* Mobile Design */
 @media screen and (max-width: 768px){
    .card-one a {
        padding: 0.5rem 2rem;
        font-size: 0.75rem;
    }
    .card-one img {
        margin-top: 4rem;
    }
    .card-two {
        display: grid;
        gap: 5rem;
    }
    .details-no {
        font-size: 3rem;
    }
    .card-there, .card-four, .card-five {
        display: grid;
        justify-items: center;
        text-align: center;
    }
    h2 {
        margin-bottom: 1.25rem;
    }
    .card-there img, .card-four img, .card-five img {
        width: 100%;
    }
    .card-sex {
        text-align: center;
        display: grid;
        gap: 2.5rem;
        margin: 4rem 0.25rem;
    }
    .card-sex a {
        width: 55%;
        margin: auto;
        font-size: 0.75rem;
    }
    .footer {
        display: grid;
        grid-template-columns: auto;
        height: 100vh;
    }
    .footer-sec-one p,
    .footer-sec-two p {
        width: 100%;
    }
    #email {
        display: block;
        width: 100%;
    }
    #submit {
        margin-top: 0.5rem;
        position: absolute;
        right: 3rem;
    }       
}
    

