@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-font: 'Poppins', sans-serif;
    --head-font: 'Poppins', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: rgb(234, 234, 234);
    --pale-blue: hsl(207, 100%, 98%);
    --white: #FFFFFF;
}
body {
    font-family: var(--main-font);
    background-color: var(--pale-blue);
}
h1, h2 {
    font-family: var(--head-font);
}
p {
font-size: 0.75rem;
}
.pics {
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: auto;
    gap: 4rem;
}

/* Header */
header {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}
header img {
    width: 9rem;
    height: 2rem;
}
header a {
    text-decoration: none;
    border: 0.125rem solid var(--pink);
    padding: 0.25rem 1.5rem;
    border-radius: 2rem;
    color: var(--pink);
    box-shadow: 0 0 6.5rem gray;
}
header a:hover {
    cursor: pointer;
    color: var(--light-pink);
    border: 0.125rem solid var(--light-pink);
}

/* Main */
.cards {
    display: grid;
    gap: 3rem;
}
.card-one {
    text-align: center;
    margin: 0 4rem;
}
.card-one h1 {
    font-size: 1.75rem;
}
.card-one p {
    font-size: 0.85rem;
    width: 70%;
    margin: 1rem auto 2rem auto;
}
.card-one a {
    color: var(--white);
    padding: 1rem 3rem;
    background-color: var(--pink);
    border-radius: 2rem;
    text-decoration: none;
}
.card-one a:hover {
    cursor: pointer;
    background-color: var(--light-pink);
}
.card-one img {
    margin-top: 2rem;
}
.card-two {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 2rem 4rem 2rem;
}
.details-no {
    font-size: 3.75rem;
}
.card-there {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
    background-color: var(--dark-cyan);
    padding: 5rem 4rem;
}
.card-there img {
    width: 50%;
}
h2 {
    margin-bottom: 1.25rem;
}
.card-four {
    display: flex;
    align-items: center;
    gap: 4rem;
    /* background-color: var(--dark-cyan); */
    padding: 5rem 4rem;
}
.card-four img {
    width: 50%;
}
.card-five {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
    background-color: var(--dark-cyan);
    padding: 5rem 4rem;
}
.card-five img {
    width: 50%;
}
.card-sex {
    text-align: center;
}
.card-sex a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink);
    padding: 0.75rem 3rem;
    border-radius: 2rem;
    box-shadow: 0.1rem 0 6.5rem gray;
}
.card-sex a:hover {
    cursor: pointer;
    background-color: var(--light-pink);
}
